<header >
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/home">
              <img src="/images/logo1.png" width="30" height="30" class="d-inline-block align-top" alt=""><a href="/home"></a>
              <span><b>Prescribe Right</b></span>          
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/home">
                        Home
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#contact_us">
                        Contact us
                      </a>
                  </li>
                  </ul>
            </div>
          </nav>
    </div>


</header>