    <div  class="btn-group login-select" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" value="patient" id="btnradio1" autocomplete="off" onclick="" >
        <label class="btn btn-outline-primary btn-back" for="btnradio1">Patient</label>
      
        <input type="radio" class="btn-check" name="btnradio" value="doctor" id="btnradio2" autocomplete="off" >
        <label class="btn btn-outline-primary btn-back" for="btnradio2">Doctor</label>
      
        <input type="radio" class="btn-check" name="btnradio" value="pharmacy" id="btnradio3" autocomplete="off"  >
        <label class="btn btn-outline-primary btn-back" for="btnradio3">Pharmacy</label>
      </div>






      <!-- <%- include('patient_reg') %>
      <%- include('doctor_reg') %>
      <%- include('pharmacy_reg') %> -->

